<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Vida Plus - Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container2">
        <h1>Vida Plus - Sistema de Pacientes</h1>
        <h2>Seja bem-vindo</h2>

        <a href="/cadastrar" class="button">Cadastrar Paciente</a><br>
        <a href="/editar_excluir" class="button">Editar / Excluir Pacientes</a><br>
        <a href="/listar" class="button">Listar Pacientes</a><br>
        <a href="/agendar" class="button">Agendar Consulta</a><br>
        <a href="/consultas" class="button">Ver Consultas Agendadas</a><br><br>

        <a href="/logout" class="button-small">Sair</a>
    </div>
</body>
</html>
